{% extends 'main/incl/layout.html' %}
{% load thumbnail %}

{% block content %}
	<div class="b-wrapper">

        <div class="b-popular">
            <h2>Популярные товары</h2>
            <ul>
                {% for p_product in popular_products_list %}
                    <li class="b-popular-item">
                        <a href="{% url 'product' p_product.product.id %}" class="b-popular-item__img">
                            {% thumbnail p_product.preview "140x95" crop="center" as im %}
                                    <img src='{{ im.url }}' />
                            {% endthumbnail %}
                        </a>
                        <a href="{% url 'product' p_product.product.id %}" class="b-popular-item__name">{{ p_product.name }}</a>
                        <span class="b-popular-item__size">{{ p_product.size }}</span>
                        <span class="b-popular-item__price">{{ p_product.start_price }} руб {{ p_product.unit }}</span>
                    </li>
                {% endfor %}
                <div class="clear"></div>
            </ul>
        </div>
        <div class="b-catalog">
            <h2>Каталог</h2>
            <ul>
                {% for product in products_list %}
                    <li class="b-catalog-item">
                        <div class="b-catalog-item__preview" >
                            <a href="{% url 'product' product.id %}">
                                {% thumbnail product.preview "90x90" crop="center" as im %}
                                    <img src='{{ im.url }}' />
                                {% endthumbnail %}
                            </a>
                        </div>
                        <div class="b-catalog-item__info">
                            <a href="{% url 'product' product.id %}" class="b-catalog-item__name">{{ product.name }}</a>
                            <span class="b-catalog-item__price">от {{ product.start_price }} р. за {{ product.unit }}</span>
                        </div>
                        <div class="clear"></div>
                    </li>
                {% endfor %}
                <div class="clear"></div>
            </ul>   
        </div> 
    </div>
{% endblock %}