{% extends 'main/incl/layout.html' %}
{% load thumbnail %}

{% block content %}
    <div class="b-wrapper b-house">
        <h2 class="b-product__name">{{ house.name }}</h2>

        <div class="b-product__gallery">
            <div class="b-product-gallery__main">
                <a href="{{ house.images.all.0.image.url }}" data-lightbox="products" data-title="{{ 1 }}">
                    {% thumbnail house.images.all.0.image "298x200" crop="center" as im %}
                        <img src='{{ im.url }}' />
                    {% endthumbnail %}
                </a>
            </div>
            {% if house.images.all|length > 1 %}
                <ul class="b-product-gallery__others">
                    {% for image_object in house.images.all %}
                        {% if not forloop.first and forloop.counter0 <= 4 %}
                            <li>
                                <a href="{{ image_object.image.url }}" data-lightbox="products" data-title="{{ forloop.counter }}">
                                    {% thumbnail image_object.image "58x58" crop="center" as im %}
                                        <img src='{{ im.url }}' />
                                    {% endthumbnail %}   
                                </a>
                            </li>
                        {% elif not forloop.first %}
                            <a style="display:none;" href="{{ image_object.image.url }}" data-lightbox="products" data-title="{{ forloop.counter }}"></a>
                        {% endif %}
                    {% endfor %}
                    {% if house.images.all|length > 5 %}
                        <li class="b-product-gallery__more">
                            <span>{{house.images.all|length}}<br/>ФОТО</span>
                        </li>
                    {% endif %}
                    <div class="clear"></div>
                </ul>
            {% endif %}
        </div>
        <div class="b-product__description">
            {{ house.description|safe }}
            <a href="#" class="b-button__offer">ЗАКАЗАТЬ</a>
        </div> 
        <div class="clear"></div>
        
    </div>

{% endblock %}