{% extends 'main/incl/layout.html' %}
{% load thumbnail %}

{% block content %}
    <div class="b-wrapper b-product">
        <h2 class="b-product__name">{{ product.name }}</h2>

        <div class="b-product__gallery">
            {% thumbnail product.preview "300x200" crop="center" as im %}
                <img src='{{ im.url }}' />
            {% endthumbnail %}
        </div>
        <div class="b-product__description">
            <p>{{ product.description }}</p>
            <a href="#" class="b-button__offer">ЗАКАЗАТЬ</a>
        </div> 
        <div class="clear"></div>
        <div class="b-product__tables"></div>
        <div class="b-product__additional">
            {{ product.additional_info|safe }}
        </div>
        <div class="b-product__certificates">
            <h3>Сертификаты</h3>
            {% for certificate in product.certificates.all %}
                
                {% thumbnail certificate.image "100" padding=True as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
                {{ certificate.name }}

            {% endfor %}
        </div>
        <div class="clear"></div>
        

        <!--<h2>Картиночки:</h2>
        <br>
        {% for image_object in product.images.all %}
            {% thumbnail image_object.image "300x300" crop="center" as im %}
            <img src='{{ im.url }}' />
            {% endthumbnail %}<br>
        {% endfor %}-->
        
    </div>
{% endblock %}