{% extends 'main/incl/layout.html' %}
{% load thumbnail %}

{% block content %}
    <div class="b-wrapper b-product">
        <h2 class="b-product__name">{{ product.name }}</h2>

        <div class="b-product__gallery">
            <div class="b-product-gallery__main">
                <a href="{{ product.images.first.image.url }}" data-lightbox="products" data-title="{{ 1 }}">
                    {% thumbnail product.images.first.image "298x200" crop="center" as im %}
                        <img src='{{ im.url }}' />
                    {% endthumbnail %}
                </a>
            </div>
            <ul class="b-product-gallery__others">
                {% for image_object in product.images.all %}
                    {% if not forloop.first and forloop.counter0 <= 4 %}
                        <li>
                            <a href="{{ image_object.image.url }}" data-lightbox="products" data-title="{{ forloop.counter }}">
                                {% thumbnail image_object.image "58x58" crop="center" as im %}
                                    <img src='{{ im.url }}' />
                                {% endthumbnail %}   
                            </a>
                        </li>
                    {% elif not forloop.first %}
                        <a style="display:none;" href="{{ image_object.image.url }}" data-lightbox="products" data-title="{{ forloop.counter }}"></a>
                    {% endif %}
                {% endfor %}
                {% if product.images.all|length > 5 %}
                    <li class="b-product-gallery__more">
                        <span>{{product.images.all|length}}<br/>ФОТО</span>
                    </li>
                {% endif %}
                <div class="clear"></div>
            </ul>
        </div>
        <div class="b-product__description">
            <p>{{ product.description }}</p>
            <a href="#" class="b-button__offer">ЗАКАЗАТЬ</a>
        </div> 
        <div class="clear"></div>
        <div class="b-product__tables">
            <ul class="b-product-tables__tabs">
            {% for table in product.tables.all %}
                <li data-tab="tab{{ forloop.counter }}">{{ table.name }}</li>
            {% endfor %}
                <div class="clear"></div>
            </ul>
            {% comment %}
            <ul class="b-product-tables__tabs">
                <li data-tab="tab1">Хвоя</li>
                <li data-tab="tab2">Лиственница</li>
                <li data-tab="tab3">Липа</li>
                <div class="clear"></div>
            </ul>
            {% endcomment %}
            <ul class="b-product-tables__content">
            {% for table in product_tables %}
                <li data-tab="tab{{ forloop.counter }}">
                    <table>
                        {% for row in table.table_json %}
                            <tr>
                                {% with forloop.first as first_row %}
                                    {% for value in row %}
                                        {% if first_row %}
                                            <th>{{ value.1 }}</th>
                                        {% else %}
                                            <td>{{ value.1 }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </tr>
                        {% endfor %}
                    </table>
                </li>
            {% endfor %}
            </ul>
        {%  comment %}
            <ul class="b-product-tables__content">
                <li data-tab="tab1">
                    <table>
                        <tr>
                            <th>Название</th>
                            <th>Пачек в м3</th>
                            <th>“Э” розн</th>
                            <th>“А” розн</th>
                            <th>“Э” опт</th>
                            <th>“А” опт</th>
                        </tr>
                        <tr>
                            <td>Вагонка хвоя 1,8м</td>
                            <td>6</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Вагонка хвоя 2,8м</td>
                            <td>23</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Сосна</td>
                            <td>21</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Вагонка хвоя 3м</td>
                            <td>12</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </table>
                </li>
                <li data-tab="tab2">
                    <table>
                        <tr>
                            <th>Название</th>
                            <th>2м</th>
                            <th>2м</th>
                            <th>2м</th>
                            <th>2м</th>
                            <th>2м</th>
                        </tr>
                        <tr>
                            <td>корова</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>корова</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>лось</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>молоко</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Сосна</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </table>
                </li>
                <li data-tab="tab3">
                    <table>
                        <tr>
                            <th>Название</th>
                            <th>2м</th>
                            <th>2м</th>
                            <th>2м</th>
                            <th>2м</th>
                            <th>2м</th>
                        </tr>
                        <tr>
                            <td>пес</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>собака</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Сосна</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Сосна</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </table>
                </li>
            </ul>
        {% endcomment %}
        </div>
        <div class="b-product__additional">
            {{ product.additional_info|safe }}
        </div>
        {% if product.certificates.all %}
            <div class="b-product__certificates">
                <h3>Сертификаты</h3>
                {% for certificate in product.certificates.all %}
                    
                    {% thumbnail certificate.image "100" padding=True as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                    {{ certificate.name }}

                {% endfor %}
            </div>
        {% endif %}
        <div class="clear"></div>
        

        <!--<h2>Картиночки:</h2>
        <br>
        {% for image_object in product.images.all %}
            {% thumbnail image_object.image "300x300" crop="center" as im %}
            <img src='{{ im.url }}' />
            {% endthumbnail %}<br>
        {% endfor %}-->
        
    </div>
{% endblock %}