{% extends 'main/incl/layout.html' %}

{% block title %}Фадлес :: Оставить заявку{% endblock %}

{% block content %}
<div class="b-wrapper b-send">
    <h2>Ваша заявка</h2>
    <p>Оставьте ваши данные и мы свяжемся с вами в течение рабочего дня</p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.level == 25 %}
                <li{% if message.tags %} style="color:green" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% else %}
                <li{% if message.tags %} style="color:red" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/send_request/" method="post">
        {% csrf_token %}
        <div class="b-form__name">
            {% if form.name.errors %}
                <span class="b-form__error">{{ form.name.errors }}</span>
            {% endif %}
            <span class="title">Ваше имя</span>
            {{ form.name }}
        </div>
        <div class="b-form__email_or_phone">
            {% if form.email_or_phone.errors %}
                <span class="b-form__error">{{ form.email_or_phone.errors }}</span>
            {% endif %}
            <span class="title">Телефон или электронная почта</span>
            {{ form.email_or_phone }}
        </div>
        <div class="b-form__message">
            {% if form.message.errors %}
                <span class="b-form__error">{{ form.message.errors }}</span>
            {% endif %}
            <span class="title">Сообщение</span>
            {{ form.message }}
        </div>
        <input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
    </form>
</div>
{% endblock %}
