.b-flat{
	min-height: 400px;
	padding-bottom: 70px;
	h2{
		font-size: 34px;
		margin: 0 0 30px;
	}
	h4{
		color:#696969;
		font-size: 15px;
		font-weight: bold;
		margin: 40px 0 6px;
	}
	p{
		color:#696969;
		font-size: 15px;
		margin: 5px 0;
	}
	a{
		text-decoration: none;
		color:#3690ff;
		font-size: 15px;
	}
}
.b-flat__content{
	width: 720px;
}