.b-product{
	padding: 30px 0 40px;
}
.b-product__name{
	margin: 0 0 30px;
	font-size: 35px;
	line-height: 35px;
}
.b-product__gallery{
	float:left;
	width: 298px;
	margin-right: 35px;
}
.b-product-gallery__main{
	a{
		display: block;
		height:200px;
	}
	img{
		width:100%;
		display: block;
	}
}
.b-product-gallery__others{
	height:58px;
	margin-top: 2px;

	li{
		display: block;
		float: left;
		width: 58px;
		height: 58px;
		margin-left: 2px;
		&:first-child{
			margin-left: 0;
		}
		a{
			display: block;
			text-decoration: none;
			height: 100%;
			img{
				width: 58px;
				height: 58px;
				display: block;
			}
		}
	}
}
.b-product-gallery__more{

	background: #f0784f;
	text-align: center;
	font-weight: 700;
	cursor: pointer;

	span{
		font-size: 12px;
		line-height: 14px;
		color:#fff;	
		@include inline-block;
		padding-top: 15px;
	}
}

.b-product__description{
	float: left;
	width: 530px;
	p{
		margin: 0 0 30px;
		color:#696969;
	}
}
.b-product__tables{
	margin: 40px 0;
}
.b-product-tables__tabs{
	@include border-radius(3px 3px 0 0);
	overflow: hidden;
	border: 1px solid #dedede;
	border-bottom: none;
	float:left;

	li{
		display: block;
		float: left;
		padding: 13px 25px;
		border-left:1px solid #dedede;
		border-bottom: none;
		background: #f1f1f1;
		cursor:pointer;
		font-size: 15px;
		color:#6f6f6f;
		font-weight: 700;
		&:first-child{
			border:none;
		}
		&.active{
			background: #fff;
			color:#000;
		}
	}
}
.b-product-tables__content{
	table{
		width:100%;
		border:1px solid #dedede;

		tr:first-child{
			border-bottom: 1px solid #dedede;
		}
		th, td{
			text-align: left;
			padding: 13px 25px;
		}
		th{
			font-size: 11px;
			text-transform: uppercase;
			color:#959595;
			padding: 18px 25px 15px;
		}
		td{
			padding: 12px 25px;
			font-size: 13px;
			color:#000;
			width:90px; 
			&:first-child{
				width:auto;
			}
		}
	}
}
.b-product__additional{
	width: 720px;
	float: left;
	p{
		color: #696969;
		margin-bottom: 20px;
	}
	h1,h2,h3{
		margin: 0 0 10px;
	}
}
.b-product__certificates{
	float: right;
	width: 140px;
	text-align: center;
	h3{
		margin: 0 0 15px 0;
		font-size: 23px;
	}
	a{
		display: block;
		width: 80%;
		margin: 0 auto 7px;
	}
	img{
		display: block;
		width: 100%;
	}
	span{	
		@include inline-block;
		width: 80%;
		font-size: 14px;
	}
}
.b-product__certificate{
	margin-bottom: 15px;
}