@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,100,300,500,700&subset=latin,cyrillic-ext);
@import "compass";
@import "mynormalize";
@import "lightbox";
body{
	font-family: "PT Sans";
	font-weight: 400;
}
$orange-color: #fa6828;
.b-wrapper{
	width:940px;
	margin: auto;
}
.b-button__offer{
	line-height: 13px;
	font-size: 13px;
	@include text-shadow(0 1px 0 #cf2700);
	color:#fff;
	@include box-shadow(0 2px 0 #cf2700);
	padding: 13px 18px 10px;
	@include border-radius(4px);
	@include inline-block;
	background: #fa4628;
	font-weight: 700;
	text-decoration: none;
}
@import "layout";
@import "main";
@import "product";
@import "houses";
@import "house";
@import "flat";
@import "review";