{% load staticfiles %}
<div class="b-header">
	<div class="b-header__top">
		<div class="b-wrapper">
			<a href="{% url 'home' %}" class="b-header__logo"></a>
			<div class="b-header__slogan">Продажа строительных и отделочных материалов</div>
			<div class="b-header__contacts">
				<span class="b-header__phone">+7 (495) 240-51-20</span>
				<span class="b-header__time"><i></i>с 8:30 до 18:00</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="b-header__bottom">
		<div class="b-wrapper">
			<ul class="b-header__menu">
				<li><a href="{% url 'catalog' %}">Каталог</a></li>
				<li><a href="/about/">О компании</a></li>
				<li><a href="/partners/">Партнеры</a></li>
				<li><a href="#">Отзывы и предложения</a></li>
				<li><a href="/contacts/">Контакты</a></li>
				<li><a href="{% url 'houses' %}">Готовые дома</a></li>
			</ul>
			<a href="#" class="b-header__leave">ОСТАВИТЬ ЗАЯВКУ</a>
		</div>
	</div>
</div>
