{% load staticfiles %}
<div class="b-header">
	<div class="b-header__top">
		<div class="b-wrapper">
			<a href="{% url 'home' %}" class="b-header__logo"></a>
			<div class="b-header__slogan">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
			<div class="b-header__contacts">
				<span class="b-header__phone"></span>
				<span class="b-header__time"><i></i></span>
			</div>
		</div>
	</div>
	<div class="b-header__bottom">
		<div class="b-wrapper">
			<ul class="b-header__menu">
				<li><a href="{% url 'catalog' %}">Каталог</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Партнеры</a></li>
				<li><a href="#">Отзывы и предложения</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="{% url 'houses' %}">Готовые дома</a></li>
			</ul>
			<a href="#" class="b-header__leave">Оставить заявку</a>
		</div>
	</div>
</div>
